<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Breakout-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TVBreakout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17734985194433FB00368B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1773499B194433FB00368B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1785708B1BA0DFAB00467C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>178570A11BA0DFAC00467C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
